    <div class="container">
      <div class="container2">
        <div class="image-section">
            <div class="image-placeholder"><img src="../../../../public/assets/images/charla.png"/></div>
          </div>
          <div class="info-section">
            <input type="text" placeholder="NOMBRE" class="input-field">
            <input type="email" placeholder="CORREO" class="input-field">
            <input type="text" placeholder="CURSO" class="input-field">
          </div>
          <div class="stats-section">
            <p>Charlas expuestas:</p>
            <p>Charlas presentadas:</p>
          </div>
            <div class="scroll-container">
                <div class="round_container">
                    <app-cardround>RONDA 1</app-cardround>
                    <app-cardround>RONDA 1</app-cardround>
                    <app-cardround>RONDA 1</app-cardround>
                    <app-cardround>RONDA 1</app-cardround>
                    <app-cardround>RONDA 1</app-cardround>
                    <app-cardround>RONDA 1</app-cardround>
                    <app-cardround>RONDA 1</app-cardround>
                </div>
             
            </div>
          <div class="number-circle">4</div>
      </div>
        
    </div>