<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Ronda {{idRonda}}</h5>
            <p class="card-text">Ronda {{idRonda}}</p>
            
          </div>
          <div class="card-footer text-body-secondary">
            <app-charlascardcomponent></app-charlascardcomponent>
            <app-charlascardcomponent></app-charlascardcomponent>
            <app-charlascardcomponent></app-charlascardcomponent>
            <app-charlascardcomponent></app-charlascardcomponent>
            <app-charlascardcomponent></app-charlascardcomponent>
            <app-charlascardcomponent></app-charlascardcomponent>
            <app-charlascardcomponent></app-charlascardcomponent>
            <app-charlascardcomponent></app-charlascardcomponent>
          </div>
    </div>
</div>
    




