<div class="scroll-container">
@if(students.length != 0){
    @for(student of students; track $index){
    <app-cardstudent [student]="student" [state]="disable"></app-cardstudent>
    }
}@else{
    <h1 class="text-center">NO HAY USUARIOS EN ESTE CURSO</h1>
    
}

</div>
<div class="particles-container" [ngClass]="role === 1 ? 'particles-container1' : 'particles-container2'">
    <!-- Partículas -->
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
</div>