.list-item-card {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    /* Ocupa el ancho completo del contenedor */
    width: 100%;
    max-width: 100%; /* Garantiza que no exceda el contenedor */
    margin: 10px 0;
  }
  .list-item-card:hover{
    transform: scale(0.99);
  }
  
  .card-image {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .card-name {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }
  
  .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  