
<div class="parent"> 
    <div class="container" id="container">
        <div class="form-container sign-in" >
           
                <h1>Sign In</h1>
                <span>or use your email password</span>
                <input type="text" name="emailbox" #emailbox placeholder="Email">
                <input type="text" name="passwordbox"  #passwordbox  placeholder="Password">
                <button (click)="onLogin()">Sign In</button>
                <button>Registrarse</button>
            
        </div>
    </div>
</div>

