body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 86vh;
    display: flex;
    flex-direction: column;
}



.main-content {
    flex-grow: 1;
    margin: 0;
    padding: 40px;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
    color: #3498db;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.course-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.course-list div {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    width: 100%;
}

.course-list div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.add-button {
    padding: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    border: none;
    font-size: 28px;
    cursor: pointer;
    display: block;
    margin: 30px auto 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.add-button:hover {
    background-color: #1d6fa5;
    transform: scale(1.1);
}

.add-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .main-content {
        margin: 0;
        padding: 20px;
    }

    

    header h1 {
        font-size: 2rem;
    }
}
