/* Estilos adicionales para el botón de cancelar */
.cancel-button {
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.cancel-button:hover {
  background-color: #b71c1c; /* Rojo más oscuro al pasar el ratón */
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Incrementa la sombra */
}

.cancel-button:active {
  background-color: #7f0000; /* Rojo aún más oscuro al presionar */
  transform: translateY(0);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Sombra más pequeña */
}

.margenIzq {
  margin-left: 55px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

