<div class="profile-container">
    @if(user){
    <div class="profile-header">
        <div class="profile-info">
            <img src="{{ user.imagen }}" alt="Imagen del usuario" class="profile-image">
            <h1>Bienvenido, {{ user.nombre }}</h1>
            <button class="button" (click)="editProfile()">Editar</button><br>
            <h4
            >Correo: {{ user.email }}</h4>
        </div>
    </div>
    <!-- Pop up para editar perfil -->
    @if(isEditing){
        <div class="overlay"></div>
        <div class="edit-profile-container">
            <form #fileForm="ngForm" class="edit-profile-form">
                <h2>Editar Perfil</h2>
                <label for="editName">Nombre:</label>
                <input type="text" #cajanombre id="editName" name="cajanombre" value="{{user.nombre}}" disabled>
                
                <label for="editEmail">Correo:</label>
                <input type="email" #cajaemail id="editEmail" name="cajaemail" value="{{user.email}}" disabled>
                
                <label for="editImage">Imagen de Perfil:</label>
                <input type="file" #cajafile id="editImage"  name="cajafile">
                
                <div class="form-actions">
                  <button type="submit" class="button" (click)="subirFichero($event)" >Guardar</button>
                  <button type="button" class="button cancel-button" (click)="editProfile()">Cancelar</button>
                </div>
              </form>
        </div>
    }

    <div class="content-container">
        <!-- Contenedor con Rondas Pendientes y Charlas Pendientes -->
        <div class="rondas-charlas-container">
            <!-- Rondas Pendientes -->
            <div class="rondas-container">
                <h2>Rondas Pendientes</h2>
                @for(ronda of rondas;track ronda){
                <div class="rondas-list">
                    <div class="ronda-card">
                        <h3 class="ronda-title">{{ronda.descripcionModulo}}</h3>
                        <p class="ronda-fecha">Fecha Límite: {{ronda.fechaCierre | date: 'MMMM dd, yyyy'}}</p>
                        <p class="ronda-fecha">Fecha Presentación: {{ronda.fechaPresentacion | date: 'MMMM dd, yyyy'}}</p>
                        <p class="ronda-fecha">Duración: {{ronda.duracion}} min</p>
                        <button class="ronda-action">Ir a Ronda</button>
                    </div>
                </div>
                }
            </div>

            <!-- Charlas Pendientes -->
            <div class="charlas-pendientes-container">
                <h2>Charlas Pendientes</h2>
                @for(charla of charlas;track charla){
                <div class="charlas-list">
                    <div class="charla-pendiente-card">
                        <img src="{{charla.imagenCharla}}" alt="Imagen de charla" class="charla-pendiente-image">
                        <div class="charla-pendiente-content">
                            <h3 class="charla-pendiente-title">{{charla.titulo}}</h3>
                            <p class="charla-pendiente-fecha">Ronda: {{charla.idRonda}}</p>
                            <p class="charla-pendiente-status">Estado: {{charla.estadoCharla}}</p>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>

        <!-- Charlas Realizadas -->
        <div class="charlas-realizadas-container">
            <h2>Tus Charlas Realizadas</h2>
            
            <div class="charla-container">
                @if(acceptedCharlas){
                    <h4>De momento no has realizado ninguna charla.</h4>
                }
                @for(charla of acceptedCharlas; track charla){
                <div class="charla-card">
                    <img src="{{ charla.imagenCharla }}" alt="{{ charla.titulo }}" class="charla-image">
                    <div class="charla-content">
                        <h3 class="charla-title">{{ charla.titulo }}</h3>
                        <p class="charla-date">{{ charla.fechaPropuesta | date: 'longDate' }}</p>
                    </div>
                </div>
                }
            </div>
            
        </div>
    </div>
    }
</div>
