<div class="profile-container p-8 min-h-screen flex flex-col items-center">
  @if(user){
  <!-- Encabezado del perfil -->
  <div
    class="profile-header bg-white p-1 flex flex-col items-center justify-center mb-8"
  >
    <div class="profile-info text-center">
      <img
        src="{{ user.imagen }}"
        alt="Imagen del usuario"
        class="profile-image rounded-full object-cover mb-4 margenIzq border-1 border-black"
        style="width: 150px; height: 150px"
      />
      <h1 class="text-3xl font-bold text-gray-900">
        Bienvenido, {{ user.nombre }}
      </h1>
      <button class="button-primario" (click)="editProfile()">Editar</button>
    </div>
  </div>

  <!-- Pop-up para editar perfil -->
  @if(isEditing){
  <div
    class="overlay fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-40"
  >
    <div
      class="edit-profile-container bg-white p-8 rounded-lg shadow-lg w-full max-w-md z-50"
    >
      <form #fileForm="ngForm" class="edit-profile-form space-y-4">
        <h2 class="text-2xl font-semibold mb-4">Editar Perfil</h2>
        <label for="editName" class="block text-sm font-medium text-gray-700"
          >Nombre:</label
        >
        <input
          type="text"
          #cajanombre
          id="editName"
          name="cajanombre"
          value="{{ user.nombre }}"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm"
          disabled
        />
        <label for="editEmail" class="block text-sm font-medium text-gray-700"
          >Correo:</label
        >
        <input
          type="email"
          #cajaemail
          id="editEmail"
          name="cajaemail"
          value="{{ user.email }}"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm"
          disabled
        />
        <label for="editImage" class="block text-sm font-medium text-gray-700"
          >Imagen de Perfil:</label
        >
        <input
          type="file"
          #cajafile
          id="editImage"
          name="cajafile"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm"
        />
        <div class="form-actions flex justify-end space-x-2">
          <button
            type="submit"
            class="button-primario"
            (click)="subirFichero($event)"
          >
            Guardar
          </button>
          <button
            type="button"
            class="button cancel-button bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700"
            (click)="editProfile()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
  }

  <div class="content-container mt-8 w-full max-w-5xl">
    <!-- Contenedor con Rondas Pendientes y Charlas Pendientes -->
    <div class="rondas-charlas-container flex flex-col md:flex-row gap-8">
      <!-- Rondas Pendientes -->
      <div class="rondas-container bg-gray-300 p-6 rounded-lg shadow-md flex-1">
        <h2 class="text-xl font-semibold mb-4">Rondas Pendientes</h2>
        <div
          id="carouselExampleControls"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" *ngIf="rondas.length > 0">
              <div
                class="ronda-card p-4 bg-gray-100 text-black rounded-lg shadow-sm mb-4"
              >
                <div class="m-4 p-4">
                  <h3 class="ronda-title text-lg font-semibold">
                    {{ rondas[0].descripcionModulo }}
                  </h3>
                  <p class="ronda-fecha">
                    Fecha Límite:
                    {{ rondas[0].fechaCierre | date : "MMMM dd, yyyy" }}
                  </p>
                  <p class="ronda-fecha">
                    Fecha Presentación:
                    {{ rondas[0].fechaPresentacion | date : "MMMM dd, yyyy" }}
                  </p>
                  <p class="ronda-fecha">
                    Duración: {{ rondas[0].duracion }} min
                  </p>
                  <button
                    class="button-primario"
                    [routerLink]="['/studentround/', rondas[0].idRonda]"
                  >
                    Ir a Ronda
                  </button>
                </div>
              </div>
            </div>
            <div class="carousel-item" *ngFor="let ronda of rondas.slice(1)">
              <div
                class="ronda-card p-4 bg-gray-100 text-black rounded-lg shadow-sm mb-4"
              >
                <div class="m-4 p-4">
                  <h3 class="ronda-title text-lg font-semibold">
                    {{ ronda.descripcionModulo }}
                  </h3>
                  <p class="ronda-fecha">
                    Fecha Límite:
                    {{ ronda.fechaCierre | date : "MMMM dd, yyyy" }}
                  </p>
                  <p class="ronda-fecha">
                    Fecha Presentación:
                    {{ ronda.fechaPresentacion | date : "MMMM dd, yyyy" }}
                  </p>
                  <p class="ronda-fecha">Duración: {{ ronda.duracion }} min</p>
                  <button
                    class="button-primario"
                    [routerLink]="['/studentround/', ronda.idRonda]"
                  >
                    Ir a Ronda
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Controles de carrusel -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon text-dark"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon text-dark"
              aria-hidden="true"
            ></span>
          </button>
        </div>
      </div>

      <!-- Charlas Pendientes -->
      <div
        class="charlas-pendientes-container bg-gray-300 p-6 rounded-lg shadow-md flex-1"
      >
        <h2 class="text-xl font-semibold mb-4">Charlas Pendientes</h2>
        <div
          *ngFor="let charla of charlas"
          class="charla-pendiente-card p-4 bg-gray-100 rounded-lg shadow-sm mb-4 flex items-center"
        >
          <img
            [src]="charla.imagenCharla"
            alt="Imagen de charla"
            class="charla-pendiente-image w-16 h-16 rounded-full object-cover mr-4"
          />
          <div class="charla-pendiente-content">
            <h3
              class="charla-pendiente-title text-lg font-semibold text-gray-800"
            >
              {{ charla.titulo }}
            </h3>
            <p class="charla-pendiente-fecha text-gray-600">
              Ronda: {{ charla.idRonda }}
            </p>
            <p class="charla-pendiente-status text-gray-600">
              Estado: {{ charla.estadoCharla }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Charlas Realizadas -->
    <div
      class="charlas-realizadas-container bg-gray-300 p-6 rounded-lg shadow-md mt-8"
    >
      <h2 class="text-xl font-semibold mb-4">Charlas Realizadas</h2>
      <div *ngIf="!acceptedCharlas.length">
        <h4 class="text-gray-600">
          De momento no has realizado ninguna charla.
        </h4>
      </div>
      <div *ngIf="acceptedCharlas.length">
        <div
          *ngFor="let charla of acceptedCharlas"
          class="charla-card p-4 bg-gray-100 rounded-lg shadow-sm mb-4 flex items-center"
        >
          <img
            [src]="charla.imagenCharla"
            alt="{{ charla.titulo }}"
            class="charla-image w-16 h-16 rounded-full object-cover mr-4"
          />
          <div class="charla-content">
            <h3 class="charla-title text-lg font-semibold text-gray-800">
              {{ charla.titulo }}
            </h3>
            <p class="charla-date text-gray-600">
              {{ charla.fechaPropuesta | date : "longDate" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
