<div class="items-center justify-center flex pb-7">
  <h1>Curso {{isCourse.curso.nombre}}</h1>
</div>
<div class="card-container" [class.flipped]="isFlipped">

    <div class="card">
      <!-- Cara frontal -->
      <div class="card-front">
        <div class="top-right-button">
          <button class="plus-button" routerLink="/createround">+</button>
        </div>
        <div class="button-container">
          <button class="slide-button" (click)="flipCard()">Ver Alumnos</button>
        </div>
        <div class="scroll-container2">
          @for(round of rounds; track $index){
            <app-cardroundteacher [round]="round"></app-cardroundteacher>
          }
        </div>
      </div>
      <!-- Cara trasera -->
      <div class="card-back">
        <div class="button-container">
          <button class="slide-button" (click)="flipCard()">Ver Rondas</button>
        </div>
        <div class="scroll-container">
          
            @for(student of students; track $index){
              <app-cardstudent [student]="student"></app-cardstudent>
            }
      
         
        </div>
        
      </div>
    </div>
  </div>

  <div class="particles-container">
    <!-- Partículas -->
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
</div>
  